.auth-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.auth-form-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}