.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-panel p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin-top: 10px 0;
  margin-bottom: 5px;
}

.toggle-left {
  transform: translateX(-200%);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}