.auth-button {
  background-color: #6a0dad;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.auth-button:hover {
  border: 1px solid white;
}

.auth-button.submit:hover {
  border: 1px solid darkblue;
}

.auth-button.secondary {
  background-color: transparent;
  border-color: #fff;
}