.auth-input {
  background-color: #fff;
  border: 1px solid #cbd5e1;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.auth-input:focus {
  border-color: #7b64aa;
  box-shadow: 0 0 0 3px #ece8f5;
}