@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.auth-container {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(112, 0, 137, 0.452);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.auth-container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.auth-container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 50px 0 0 50px;
  z-index: 1000;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;      /* horizontal center */
  justify-content: center;  /* vertical center */

  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}

.toggle-left {
  left: 0;
}

.toggle-right {
  right: 0;
}

.toggle-panel h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}

.toggle-panel p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 24px;
  opacity: 0.9;
}

.toggle-panel button {
  padding: 10px 32px;
  border-radius: 25px;
}


.auth-container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 50px 50px 0;
}

.toggle {
  background-color: blueviolet;
  height: 100%;
  background: linear-gradient(to right, #a159e0, #671f89, #611087);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.auth-container.active .toggle {
  transform: translateX(50%);
}

.auth-container.active .toggle-left {
  transform: translateX(0);
}

.auth-container.active .toggle-right {
  transform: translateX(200%);
}